<header>
  <h1>Tungsten Tools</h1>
  <nav class="headerNav">
    <li><a href="/">Home</a></li>
    <li><a href="/profiles">Profile</a></li>
    <li><a href="/search">Rent Tools</a></li>
  </nav>
</header>