<h1>TUNGSTEN TOOLS</h1>
<h3>Rent tools from other DIY enthusiasts in your city.</h3>
<div class="columns">
    <div class="column">
        <button class="button button1">Create Profile</button>
    </div>

    <div class="column">
        <button class="button">View All Tools</button>
    </div>

    <div class="column"></div>
</div>
<div class="img"></div>
<section class="hero is-fullheight"></section>
<div class="img"></div>
<div>
    <a href="#">
        <section class="hero is-fullheight hero2" style="max-height: 900px"></section>
    </a>
</div>