<h1>TUNGSTEN TOOLS</h1>
<h3>Rent tools from other DIY enthusiasts in your city.</h3>
<section class="hero is-fullheight">
    <div class="columns">
        <div class="buttons">
            <div class="container">
                <a href="/create-profile" class="btn effect01" target="_blank"><span>Create Profile</span></a>
            </div>
        </div>
        <div class="buttons">
            <div class="container">
{{!-- //rent tools button --}}
                {{!-- <a href="/tools" class="btn effect01" target="_blank"><span>View All Tools</span></a> --}}
                <a href="/search" class="btn effect01" target="_blank"><span>Rent Tools</span></a>

            </div>
        </div>
    </div>
</section>
<div class="column"></div>




<div>
    <a href="/search">

        <section class="hero is-fullheight hero2" style="max-height: 900px">
{{!-- //search tool section --}}
            <p class="searchLine">Search Our <br> Tool <br> Collection.</p>
        </section>

    </a>
</div>
{{> footer}}