{{> header}}
<nav id="searchNav">
    <div class="search">Search for a tool!

        <input class="searchTools">
        <button class="effect01">Search</button>
    </div>
</nav>
<main>
    <h4></h4>

    <ol>
        <li></li>
    </ol>
</main>

{{> footer}}

<script src="assets/js/search-tools.js"></script>