{{> header}}
<nav id="searchNav">
    <div class="search">
        <p>Search for a tool you would like to rent!</p>

        <input class="searchTools">
        <button class="effect01">Search</button>
    </div>
</nav>
<main class="resultsContainer">
    <h4></h4>

    <ol class="searchResults">
        
    </ol>

</main>
<div class="img"></div>
<section class="hero is-fullheight"></section>
<div class="img"></div>


{{> footer}}

<script src="assets/js/search-tools.js"></script>