{{> header}}
<nav id="searchNav">Search for a tool!
    <input>
    <button>Search</button>
</nav>

<p>Tool Search Results:</p>

<ol>
    <li></li>
</ol>
{{> footer}}

<script src="assets/js/search-tools.js"></script>