{{> header}}
<section class="hero is-fullheight">
    <nav id="searchNav">
        <section class="hero is-fullheight">
            <div class="search">
                <p>Search for a tool you would like to rent!</p>

                <input class="searchTools">
                <button class="effect01">Search</button>
            </div>
    </nav>
    <section class="hero is-fullheight">
        <main class="resultsContainer">
            <h4></h4>

            <ol class="searchResults">

            </ol>

        </main>




        {{> footer}}
    </section>

    <script src="assets/js/search-tools.js"></script>