{{> header}}
<section class="hero-is-full-height hero5">
    <div class="columns">
        <div class="column">
            <a href="/tool/new">
                <div class="buttons">
                    <div class="container">
                        <a href="/create-profile" class="btn effect01" target="_blank"><span>New Tool</span></a>
                    </div>
                </div>
            </a>
            {{!-- <a href="/tool/new">
                <button class="btn btn-primary" class="btn effect01">New Tool</button>
            </a> --}}



            <div class="column">
                <div class="column">
                    {{#each tools}}
                    <h2>{{name}}</h2>
                    <h3>Category: {{category}}</h3>
                    <button class="btn btn-danger delete-tool" data-id="{{id}}">Delete</button>
                    <a href="/tools/{{id}}/edit"><button class="btn btn-secondary">Edit</button></a>
                    {{/each}}

                </div>
            </div>

</section>
<script>
    $(document).ready(function () {
        $(".delete-tool").on("click", function () {
            const id = $(this).data("id");
            $.ajax({
                method: "DELETE",
                url: `/api/tools/${id}`
            }).then(response => {
                window.location.reload();
            })
        })
    })
</script>