h1 {
  font-family: "Saira Stencil One", cursive;
  font-size: 6.5em;
  font-style: bold;
  margin: -20px 0px 0px 0px;
}
h2 {
  text-align: center;
  font-size: 2.5em;
  font-family: "Arimo", sans-serif;
}

h3 {
  font-family: "Didact Gothic", sans-serif;
  font-size: 2.5em;
  font-style: italic;
  margin: -20px 0px 0px 0px;
  color: black;
}

/* body {
    background: url(toolz.jpg);
  } */

.hero {
  background: black url(tools5.jpg) center / cover;
}

@media (max-width: 1024px) {
  .hero {
    height: auto;
  }
}
@media (max-width: 768px) {
  .hero {
    height: auto;
  }
}

.hero2 {
  background: black url(wrenches4.jpg) center / cover;
}

@media (max-width: 1024px) {
  .hero2 {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .hero2 {
    max-width: 100%;
    height: auto;
  }
}
.searchLine {
  color: white;
  font-size: 6em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: relative;
  left: 20px;
  top: 60px;
}
.break {
  height: 200px;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

body {
  background: #fff;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  /*   padding: 2em 0em; */
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  padding: 40px 0px;
  width: 200px;
}

.search {
  box-sizing: content-box;
  display: flex;
  flex-direction: row;
  padding: 40px 100px;
  float: right;
  margin-right: 100px;
  width: 240px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}
.searchTools {
  float: left;
}

.btn {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
.btn:hover {
  text-decoration: none;
}

/*btn_background*/
.effect01 {
  color: #fff;
  border: 4px solid #000;
  box-shadow: 0px 0px 0px 1px #000 inset;
  background-color: #000;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.effect01:hover {
  border: 4px solid #666;
  background-color: #fff;
  box-shadow: 0px 0px 0px 4px #eee inset;
}

/*btn_text*/
.effect01 span {
  transition: all 0.2s ease-out;
  z-index: 2;
}
.effect01:hover span {
  letter-spacing: 0.13em;
  color: #333;
}

/*highlight*/
.effect01:after {
  background: #fff;
  border: 0px solid #000;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.8;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  width: 50px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1); /*easeOutCirc*/
  z-index: 1;
}
.effect01:hover:after {
  background: #fff;
  border: 20px solid #000;
  opacity: 0;
  left: 120%;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}

.editHero {
  background: black url(editHero2.jpg) center / cover;
}

@media (max-width: 760px) {
  .editHero {
    max-width: 100%;
    height: auto;
  }
}
@media (max-width: 1024px) {
  .editHero {
    max-width: 100%;
    height: auto;
  }
}

.createProfileContainer {
  background: rgb(255, 255, 255);
  width: 500px;
  margin: 10px;
  border-radius: 3px;
}

.h1Create {
  text-decoration: underline gray;
  color: white;
  font-size: 5.25em;
}

.profileHolder {
  background: rgb(255, 255, 255);
  width: 500px;
  height: 800px;
  margin: 10px;
  border-radius: 3px;
}
